@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  --SpanCheckColor: #8bc34a;
  --BorderSpanCheck: #fff;
  --BadgeColor: #e1f5fe;
  --letraColor: #000;
  --borderColor: #009688;
  --borderColorLabel: #009688;
  --LoginFondoColor: #fff;
  --InputFondo: #fff;
  --TituloColor: #009688;
  --FondoTitulo: #fff;
  --BotonColor: #03a9f4;
  --BadgecolorLetra: #03a9f4;
  --borderSapn: #2d303a78;
  --borderWell: #009688;
  --TituloColorCentral: #009688;
  --BorderFocusForm: #03a9f4;
  --LetraFormColor: #000;
  --ColorLetrasDescription: #000; }

html, body {
  background: #2c1641;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px; }

.bienvenida {
  width: 95%;
  height: 100px;
  background: #56CCF2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 2px 15px #f8f9fa;
  border-radius: 10px;
  margin: 15px;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: animation 1750ms linear both;
  animation: animation 2050ms linear both; }
  .bienvenida p {
    text-align: center;
    color: white;
    font-size: 18px;
    justify-content: center;
    display: flex; }

.formulario {
  top: 50%;
  left: 50%;
  justify-content: center; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.contenedor {
  display: grid;
  grid-template-columns: 40% 60%;
  /* grid-column-gap: 10px; */
  position: absolute;
  border-style: none;
  width: 100%;
  height: 650px; }

.tutor {
  background: #2980B9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center; }

.imagen {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(../anexos/tutor.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; }

.perfil {
  top: 20px;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-image: url(tutor-circ.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -5;
  left: 150px; }

.imagen-genero {
  width: 75px;
  height: 75px;
  cursor: pointer; }

.lista {
  display: flex;
  justify-content: left; }

.sesion {
  background: white;
  display: grid;
  justify-content: center; }

/*FORMS*/
.form-login {
  border-radius: 10px;
  padding: 20px;
  margin: 25px;
  width: 450px;
  background: var(--LoginFondoColor);
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
  margin-top: 30px;
  position: relative;
  overflow: hidden; }
  .form-login .checkbox {
    margin-bottom: 30px; }
  .form-login .spinner__wrapper {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.85);
    opacity: 0;
    z-index: -1; }

input.input-form {
  background: var(--InputFondo);
  color: var(--LetraFormColor);
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  outline-color: #f95794;
  padding: 15px;
  width: 380px; }

input.input-form:focus {
  border-color: var(--BorderFocusForm); }

.checkbox {
  margin: 10px; }

a.button,
input.button {
  outline: none;
  width: 30%;
  text-align: center;
  display: inline-block;
  border: none;
  font: 500 16px/1 "Poppins", sans-serif;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background: #00c6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  position: relative;
  top: 0;
  transition: 0.2s ease; }

.button:hover {
  transform: scale(1.05);
  transition: .5s linear; }

.checkbox {
  display: grid;
  grid-gap: 10px;
  position: relative;
  user-select: none;
  margin-bottom: 10px;
  margin: 10px; }
  .checkbox input {
    display: none; }
  .checkbox label {
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 500;
    padding-left: 35px; }
  .checkbox span.box {
    display: inline-block;
    width: 20px;
    border-radius: 5px;
    border: 1px solid var(--borderSapn);
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 3px;
    transition: 0.3s ease;
    position: absolute;
    left: 0; }
    .checkbox span.box:before, .checkbox span.box:after {
      content: "";
      position: absolute;
      width: 4px;
      height: 16px;
      border-radius: 40px;
      background: #FFF;
      transition: all 0.3s ease; }
    .checkbox span.box:before {
      transform: rotate(45deg) translateY(-5px) translateX(10px) scale(0); }
    .checkbox span.box:after {
      height: 8px;
      transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(0); }

input:checked + label span.box {
  background: #1FA2FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: var(--BorderSpanCheck); }
  input:checked + label span.box:before {
    transform: rotate(45deg) translateY(-5px) translateX(10px) scale(1); }
  input:checked + label span.box:after {
    height: 8px;
    transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(1); }

.pie {
  background-color: black;
  position: absolute;
  bottom: -390px;
  width: 100%;
  height: 113px;
  color: white;
  background: #56CCF2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 2px 15px #f8f9fa; }

.btn-righ {
  font-size: 90px;
  position: absolute;
  right: 10px;
  margin: 10px;
  justify-content: center;
  top: 20%;
  cursor: pointer;
  position: absolute; }

.btn-left {
  position: absolute;
  font-size: 90px;
  position: absolute;
  margin: 10px;
  justify-content: center;
  cursor: pointer;
  right: 0px;
  left: 10px;
  top: 20%; }

.btn-righ:hover {
  color: #78ffd6; }

.sonido {
  right: 10px;
  position: absolute;
  cursor: pointer; }

.sonido:hover {
  color: red; }

.conten-pagina {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.2% {
    -webkit-transform: matrix3d(0.391, 0.112, 0, 0, 0.073, 0.391, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.391, 0.112, 0, 0, 0.073, 0.391, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% {
    -webkit-transform: matrix3d(0.514, 0.17, 0, 0, 0.111, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.514, 0.17, 0, 0, 0.111, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.41% {
    -webkit-transform: matrix3d(0.717, 0.258, 0, 0, 0.168, 0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.717, 0.258, 0, 0, 0.168, 0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% {
    -webkit-transform: matrix3d(0.879, 0.295, 0, 0, 0.193, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.879, 0.295, 0, 0, 0.193, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.71% {
    -webkit-transform: matrix3d(1.048, 0.237, 0, 0, 0.157, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0.237, 0, 0, 0.157, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% {
    -webkit-transform: matrix3d(1.052, 0.232, 0, 0, 0.153, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.052, 0.232, 0, 0, 0.153, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% {
    -webkit-transform: matrix3d(1.093, 0.117, 0, 0, 0.078, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.093, 0.117, 0, 0, 0.078, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% {
    -webkit-transform: matrix3d(1.089, 0.079, 0, 0, 0.053, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.089, 0.079, 0, 0, 0.053, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.042, -0.001, 0, 0, -0.001, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.042, -0.001, 0, 0, -0.001, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% {
    -webkit-transform: matrix3d(1.021, -0.014, 0, 0, -0.009, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.021, -0.014, 0, 0, -0.009, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.43% {
    -webkit-transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% {
    -webkit-transform: matrix3d(0.994, -0.008, 0, 0, -0.006, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.994, -0.008, 0, 0, -0.006, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.46% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.2% {
    -webkit-transform: matrix3d(0.391, 0.112, 0, 0, 0.073, 0.391, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.391, 0.112, 0, 0, 0.073, 0.391, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% {
    -webkit-transform: matrix3d(0.514, 0.17, 0, 0, 0.111, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.514, 0.17, 0, 0, 0.111, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.41% {
    -webkit-transform: matrix3d(0.717, 0.258, 0, 0, 0.168, 0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.717, 0.258, 0, 0, 0.168, 0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% {
    -webkit-transform: matrix3d(0.879, 0.295, 0, 0, 0.193, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.879, 0.295, 0, 0, 0.193, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.71% {
    -webkit-transform: matrix3d(1.048, 0.237, 0, 0, 0.157, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0.237, 0, 0, 0.157, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% {
    -webkit-transform: matrix3d(1.052, 0.232, 0, 0, 0.153, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.052, 0.232, 0, 0, 0.153, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% {
    -webkit-transform: matrix3d(1.093, 0.117, 0, 0, 0.078, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.093, 0.117, 0, 0, 0.078, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% {
    -webkit-transform: matrix3d(1.089, 0.079, 0, 0, 0.053, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.089, 0.079, 0, 0, 0.053, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.042, -0.001, 0, 0, -0.001, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.042, -0.001, 0, 0, -0.001, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% {
    -webkit-transform: matrix3d(1.021, -0.014, 0, 0, -0.009, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.021, -0.014, 0, 0, -0.009, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.43% {
    -webkit-transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% {
    -webkit-transform: matrix3d(0.994, -0.008, 0, 0, -0.006, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.994, -0.008, 0, 0, -0.006, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.46% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

/*# sourceMappingURL=style.css.map */
